/*Reset in [./reset.css
/*Header in [./reset.css]


/*Main*/
/*Script class (body.close)*/
body.close main .AboutI{
   background-color: #efeff0;
}
body.close main .back{
   background-color: #94b6ff;
}
body.close main .resume{
   background-color: #d9dce2;
   color: rgb(15, 15, 15);
}
body.close main .projectsbtn{
   background-color: #94b6ff;
   color: white;
}



/*BackGround*/
.back{
   height: 100vh;
   background-color: #e3d7cc;
   margin-top: -39rem;
   width: 35%;
   transition: 1s;
}
/*AboutI/Card*/
.card{
   display: grid;
   width: 60%;
   grid-template-columns: 1fr 2fr ;
   height: 20rem;
   margin: 0 auto;
   height: 39rem;
  
}
.AboutI{
   display: grid;
   grid-row: 1;
   background-color: #f4ece6;
   width: 100%;
   margin-top: 20%;
   transition: 1s;
  
}
.Iam{
   border-radius: 50%;
   width: 55%;
   margin: 0 auto;
   grid-column: 1;
   grid-row: 1/2;
   align-self:end;
}
.social{
   align-self: center;
}
.social img{
   margin: 0 auto;
   margin-left: 55px;
}
.socials{
   display: flex;
   background:white;
   color:white;
   grid-column: 1;
   grid-row: 0;
   align-self: end;
   padding: 10px;
}
.AboutI h3{
   margin: 0 auto;
   margin-top: 20px;
   border-bottom: 1px solid rgb(74, 74, 114);
   font-size: 30px;
   font-weight:800
}
.AboutI p{
   margin: 0 auto;
   margin-top: 20px;
   font-size: 25px;
}

/*Card/Texts*/
.texts{
   background-color: white;
   margin-top: 18%;
   width: 500px; 
}
.texts h2{
   font-size: 80px;
   margin: 0 auto;
   margin-top: 30px;
   margin-left: 10%;
}
.texts p{
   margin-left: 10%;
   font-size: 25px;
   margin-bottom: 30px;
}
.texts button{
   width: 30%;
   border-radius: 20px;
   padding: 10px;
   margin-bottom: 30px;
   margin-right: 20px;
   border: none;
}
.buttons{
  
   margin-left: 10%;
   width: 100%;
}
.projectsbtn{
   transition: 0.5s;
}
.resume{
   background-color: #0050ff;
   color: white;
   transition: 0.5s;
}
.resume:hover{
   background-color:rgba(0, 67, 253, 0.4)
}
.projectsbtn:hover{
   background-color:rgba(0, 67, 253, 0.4)
}

@media all and (max-width:550px){

   
   .card{
      display: grid;
      width: 60%;
      grid-template-columns: 1fr 1fr ;
     
      margin: 0 auto;
      height: 39rem;
   }
   .Iam{
      width: 50%;
   }
   .AboutI{
      width: 100%;
      height: 500px;
   }
   .texts{
      grid-row: 2;
      height: 500px;
      width: auto;
      
   }
   .back{
      height: 150vh;
      background-color: #e3d7cc;
      margin-top: -36rem;
      width: 35%;
   
   }
}