/*Reset in [./reset.css
/*Header in [./reset.css]


/*Main*/

/*BackGround*/
.back.close{
   background-color: #3273ff;
}
.back{
   height: 100vh;
   background-color: #e3d7cc;
   margin-top: -39rem;
   width: 35%;
   z-index: -1;
   transition: 1s;
}
/*AboutI/Card*/
.card{
   display: grid;
   width: 60%;
   grid-template-columns: 1fr 2fr ;
   height: 20rem;
   margin: 0 auto;
   height: 39rem;
}
.AboutI{
   display: grid;
   grid-row: 1;
   background-color: #f4ece6;
   width: 100%;
   margin-top: 20%;
}
.Iam{
   border-radius: 50%;
   width: 55%;
   margin: 0 auto;
   grid-column: 1;
   grid-row: 1/2;
   align-self:end;
}
.social{
   align-self: center;
}
.social img{
   margin: 0 auto;
   margin-left: 55px;
}
.socials{
   display: flex;
   background:white;
   color:white;
   grid-column: 1;
   grid-row: 0;
   align-self: end;
   padding: 10px;
}
.AboutI h3{
   margin: 0 auto;
   margin-top: 20px;
   border-bottom: 1px solid rgb(74, 74, 114);
   font-size: 30px;
   font-weight:800
}
.AboutI p{
   margin: 0 auto;
   margin-top: 20px;
   font-size: 25px;
}

/*Card/Texts*/
.texts{
   background-color: white;
   margin-top: 18%;
   width: 500px; 
}
.texts h2{
   font-size: 80px;
   margin: 0 auto;
   margin-top: 30px;
   margin-left: 10%;
}
.texts p{
   margin-left: 10%;
   font-size: 25px;
   margin-bottom: 30px;
}
.texts button{
   width: 30%;
   border-radius: 20px;
   padding: 10px;
   margin-bottom: 30px;
   margin-right: 20px;
   border: none;
}
.buttons{
  
   margin-left: 10%;
   width: 100%;
}
.resume{
   background-color: #0050ff;
   color: white;
}
.resume:hover{
   background-color:rgba(0, 67, 253, 0.4)
}
.projects:hover{
   background-color:rgba(0, 67, 253, 0.4)
}

