main{
    background-color: #e3d7cc;
    width: 100%;
    height: 200vh;
    min-width: 650px;
    transition: 1s;
}
body.mode main{
    background-color: #94b6ff;
 }
.square3{
    width: 25px;
    height: 25px;
    background-color: #0050ff;
    display: flex;
    margin-top: 5%;
    transition: 1s;
}
.containersquare{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
.containersquare h3{
    margin-top: 5%;
    font-size: 40px;
    margin-left: 10px;
}
.projetoP{
    display: flex;
    justify-content: center;
    width: 35%;
    margin: 0 auto;
    text-align: center;
    
}
.projects{
    display: flex;
    width: 40%;
    background-color: white;
    margin: 0 auto;
    height: 43vh;
    margin-top: 5%;
    
}
.textsproj{
    min-width: 300px
}
.textsproj h3{
    color: #0050ff;
    font-size: 25px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-left: 10px #0050ff solid;
    margin-top: 15%;
}
.textsproj p{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.screenproj{
    display: flex;

}
@media all and (max-width:800px){
    .containersquare h3{
        margin-top: 5%;
        font-size: 30px;
        margin-left: 10px;
    }
    .projetoP{
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
        text-align: center; 
    }
    .projects {
        min-width: none!important;
        height: 50vh;
        width: 100%
    }
    .screenproj img{
        display: none;
    }
    .textsproj p{
        margin: 5%;
        width: 60%;
    }
    .containersquare{
        justify-content: left;  
    }
    .containersquare p{
        justify-content: left;
    }
    .projetoP{
        display: flex;
        justify-content: left;
        width: 60%;
        text-align: left;
        margin-left: 5%;   
    }

}