*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
 }
 body.close header .square{
   background-color: #d9dce2;
}
body.close main .resume:hover{
   background-color:rgba(3, 3, 3, 0.3)
}
body.close main .projectsbtn:hover{
   background-color:rgba(57, 107, 245, 0.8)
}
body.close header .menu a:hover{
   color: #b8b8b8;
}
body.close main .square2{
   background-color: #d9dce2;
}

body.close main .bttdownload{
   background-color:#d9dce2 ;
   color: black;
}
body.close main .bttdownload:hover{
   background-color:rgba(0, 0, 0, 0.2);
   color: black;
}
body.close main .square3{
   background-color: #d9dce2;
}
body.close main .square4{
   background-color: #d9dce2;
}
body.close main .inputsEAM button{
   background-color: #d9dce2;
   color: black;
}
body.close main .inputsEAM button:hover{
   background-color:rgba(0, 0, 0, 0.3);
}

/* Header for all pages*/
 header{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 5rem;
    flex-wrap: wrap;
    justify-content:space-between
 }
 .Initial{
   display: flex;
   align-items: center;
   margin-left:2%;
 }
 .menu{
    display: flex;
    margin-right:3%;
 }
.square{
   width: 20px;
   height: 20px;
   background: #0050ff;
   transition: 1s;
   cursor: pointer;
}
 .menu a{
    padding: 10px;
    font-size: 20px;
 }
 .menu a:hover{
   color: #0050ff;
 }
 header h2{
   margin-left: 20px;
 }
 /*Footer for all pages*/
 footer{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-size: 14px;
    align-items: center;
 }
.footinformations p{
    margin-top: 10px; 
}
.footsocials{
    display: flex;
    padding: 20px;
 }
 .footsocials>div{
    margin-left: 50px
 }
 .footsocials p{
    margin-bottom: 8px;
 }
 .footsocials img{
    margin-left:3px;
    margin-right:3px;
 }
 .socialsfoot p {
    margin-left: 16px;
 }


 /*Media Queries 550px*/
@media all and (max-width:550px){
   .footer{
      display: flex;
      justify-content: center;
      padding: 0;
    
   }
   .footsocials{
      display: flex;
      padding: 20px;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
   }
   .socialsfoot p {
      margin-left: 0px;
   }
   .footsocials>div{
      margin-left: 0px
   }

}