*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
 }
 
body.mode main .resume:hover{
   background-color:rgba(3, 3, 3, 0.3)
}
body.mode main .projectsbtn:hover{
   background-color:rgba(57, 107, 245, 0.8)
}
body.mode header .menu a:hover{
   color: #b8b8b8;
}
body.mode main .square2{
   background-color: #d9dce2;
}

body.mode main .bttdownload{
   background-color:#d9dce2 ;
   color: black;
}
body.mode main .bttdownload:hover{
   background-color:rgba(0, 0, 0, 0.2);
   color: black;
}
body.mode main .square3{
   background-color: #d9dce2;
}
body.mode main .square4{
   background-color: #d9dce2;
}
body.mode main .inputsEAM button{
   background-color: #d9dce2;
   color: black;
}
body.mode main .inputsEAM button:hover{
   background-color:rgba(0, 0, 0, 0.3);
}

body.mode .toggle-switch .switch{
   background-color: #e3d7cc;
}
body.mode .switch{
   left: 16px;
}
body.mode .toggle-switch{
   background-color:#0050ff ;
}

/* Header for all pages*/
 header{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 5rem;
    flex-wrap: wrap;
    justify-content:space-between
 }
 .Initial{
   display: flex;
   align-items: center;
   margin-left:2%;
 }
 .Initial h2{
   margin-left: 10px;
 }
 .menu{
    display: flex;
    margin-right:3%;
 }
 .menu a{
    padding: 10px;
    font-size: 20px;
 }
 .menu a:hover{
   color: #0050ff;
 }
 header h2{
   margin-left: 20px;
 }
 /*Button for change color website*/
 .toggle-switch{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #b6b6b6;
   color: white;
   border-radius: 50%;
   width: 35px;
   height: 15px;
   cursor: pointer;
   border-radius: 6px;
   transition: 0.5s;
   top: 1%;
   margin-left: 1%;
}
.toggle-switch .switch{
   left: -16px;
   position: relative;
   background-color: #0050ff;
   height: 15px;
   width: 15px;
   border-radius: 25px;
   border-radius: 50%;
   transition: 0.5s;
}
 /*Footer for all pages*/
 footer{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-size: 14px;
    align-items: center;
 }
.footinformations p{
    margin-top: 10px; 
}
.footsocials{
    display: flex;
    padding: 20px;
 }
 .footsocials>div{
    margin-left: 50px
 }
 .footsocials p{
    margin-bottom: 8px;
 }
 .footsocials img{
    margin-left:3px;
    margin-right:3px;
 }
 .socialsfoot p {
    margin-left: 16px;
 }


 /*Media Queries 550px*/
@media all and (max-width:550px){
   header .Initial h2{
      margin-left: 3px;
      }
   .footer{
      display: flex;
      justify-content: center;
      padding: 0;
   }
   .footsocials{
      display: flex;
      padding: 20px;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
   }
   .socialsfoot p {
      margin-left: 0px;
   }
   .footsocials>div{
      margin-left: 0px
   }

}